
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}
/* Navbar style starts */

.navbar-custom {
  color: black;
  background-color: black;
}

.btn-space {
  margin-right: 10px;
  font-family: Sansation;
}

.navbar-brand {
  position: absolute;
  top: 20px;
  left: 80px;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: Sansation;
}

.nav-item {
  color: blue;
}

a:hover {
  background-color: black;
}

a {
  font-size: 18px;
}

.nav-link {
  color: #ffffff;
}

#logo {
  height: 60px;
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
  font-family: Sansation;
}

/* Navbar style ends */

/* Countdown timer style starts */

.countdown-container {
  padding: 10px 0px 20px 0px;
  /* min-height: 50vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.countdown-main {
  display: flex;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
}

.countdown {
  display: flex;
  text-align: center;
  column-gap: 8rem;
}

.logo {
  display: flex;
  padding: 2rem;
  text-align: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.5rem;
}

.main-logo {
  width: 25vh;
}

.event-name {
  padding-top: 0.4rem;
  margin-bottom: auto;
  color:white;
}

.chapter-name {
  padding-top: 0.25rem;
  margin-bottom: auto;
  color: white;
}

.eventStarts {
  font-size: 1.5rem;
  margin-bottom: auto;
  padding-bottom: 0.8rem;
  color: white;
}
.countdown{
  color: white;
}

/* Countdown timer style ends */

/* About content style starts */

.about h1{
  text-align: center;
  padding: 0.5rem;
  color: white;
}

.info {
  width: 80%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.info p {
  text-align: center;
}

/* About content style ends */

/* Sponsors Styles */

.card-body{

	height: 0px;
	background-color: aqua;
    transition: 1s;
	
}
.my-3:hover .card-body{
	transition: 1s;
	transform: translateY(-100px);
	height: 150%;
	

}


.card-text{
	opacity: 0;
}
.my-3:hover .card-text{
	opacity: 1;
	transition: 1s;

}
.card-img-top{
	opacity: 1;
}
.my-3:hover .card-img-top{
	opacity: 0.0;
	transform: scale(1.2);
	background-color: black;
}
.my-3{
	height: 100px; 
	margin-bottom: 11rem !important; 
}
	
@media screen and (max-width: 767px){
	.my-3{
		margin-bottom: 20rem !important; 
	}

}

/* Sponsor style ends */

/* Timline style starts */

.test {
  font-size: 1cm;
}

.tl-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 100px 100px;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content {
  
  border-radius: 4%;
  color: rgb(135, 164, 56);
  border: rgb(139, 179, 52) solid;
  

  text-shadow: 
  0 0 0.125em rgb(125, 152, 15),
  0 0 0.5em currentColor;
  box-shadow: 0 0 3em 0 rgb(143, 179, 52);

}

.timeline-content h1 {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
  
}

.timeline-content p {
  font-size: 14px;
  line-height: 30px;
}

.timeline-content .date {
  font-size: 15px;
  font-weight: 350;
  letter-spacing: 2px;
  color: #abaf27;
}

.timeline ul li {
  width: 50%;
  margin-bottom: 50px;
  position: relative;
}

.timeline ul li:nth-child(odd) {
  float: left;
  clear: right;
  transform: translateX(-30px);
}

.timeline ul li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(+30px);
}

.timeline::before {
  content: "";
  position: absolute;
  height: 79%;
  width: 10px;
  /* to change border radii */
  /* border-radius: 100%; */
  background-color: rgb(120, 142, 42);
  left: 50%;
  transform: translateX(-50%);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: rgb(184, 235, 107);
  border-radius: 50%;
  top: 0;
}

.timeline ul li:nth-child(odd)::after {
  right: 0;
  transform: translate(50%, -50%);
  right: -30px;
}

.timeline ul li:nth-child(even)::after {
  right: 0;
  transform: translate(-50%, -50%);
  left: -30px;
}

.timeline ul li:hover::after {
  background-color: rgb(185, 214, 106);
  
}

.timeline-content:hover {
  background-color: rgb(145, 203, 38);
  color:white;
  text-shadow: none;
  opacity: 1;
  
}


.timeline-content .date {
  position: absolute;
  top: -30px;
}
/* timeline ends :( */
/* footer starts */
footer {
  background-color: black;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
}

.footer-links {
  display: flex;
  padding: 10px 10px;
}

.footer-links > a > img {
  padding: 5px 5px;
}

/* Footer style ends */
