@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.navbar-custom {
    color: black;
    background-color:black;
    }

 .btn-space {
    margin-right: 10px;
    font-family: Sansation;
}
.navbar-brand{
	position: absolute;
	top: 20px;
	left: 80px;
	color: #ffffff;
	font-size: 1.2rem;
	font-family: Sansation;
}
.nav-item{
	color: blue;
}
a:hover {
  background-color: black;
}
a{
	font-size: 18px;
}
.nav-link{
	color: #FFFFFF;
}
#logo{
	height: 60px;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  font-family: Sansation;
}

footer {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
	position: absolute;
	bottom: 0;
}

.footer-links{
	display: flex;
	padding: 10px 10px;
}

.footer-links > a > img {
	padding: 5px 5px;
}

/* Aditya CSS */

.what-is {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: calc(3em + 1vmin);
  font-family: "Silkscreen", cursive;
  font-weight: bolder;
  text-align: center;
  color: #ffec9d;
  text-shadow: rgba(1, 51, 252, 0.9) 0px 0px 39px;
}
.box {
  border: 1px solid rgb(250, 249, 249);
  background-color: aqua;
  /* opacity: 0.6; */
  -webkit-box-shadow: 0px 0px 105px 45px rgba(12, 189, 47, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(12, 189, 47, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(12, 189, 47, 0.9);
}
.text-content {
  font-size: 35%;
  margin: 0.8em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #ffec9d;
  opacity: 1;
  line-height: 1.5;
  text-shadow: rgba(1, 51, 252, 0.9) 0px 0px 39px;
}

/* End of aditya CSS */